@page
@using PadelserviceApp.Models;
@model IndexModel



@{
    // Layout för profil (manage)
    Layout = "/Views/Shared/_ManageLayout.cshtml";
    ViewData["Title"] = "Bokade tider"; //title
}

<h1>@ViewData["Title"]</h1>

<div class="container-fluid">
    
<!-- Visar bokningar, olika beronde admin eller ej -->
    @if (Model.Bookings != null && Model.Bookings.Any()){
         <div class="table-responsive" id="tableDiv">
        <table class="table">
            <thead>
                <tr>
                    <th>Datum och tid</th>
                    <th>Bana</th>
                    <th>Typ</th>
                    <!-- Om admin, visas användare-->
                    <th>@(Model.AdminCheck ? "Användare" : "")</th> 
                    <th></th>
                    <th></th>
                </tr>
            </thead>    
            <tbody>
                @foreach (var booking in Model.Bookings){
                    <tr>
                        <td>@($"{booking.BookingTime.Day}/{booking.BookingTime.Month} {booking.BookingTime:HH:mm} - {booking.BookingTime.AddHours(1):HH:mm}")</td>
                        <td>@booking.Court?.CourtName</td> 
                        <td>@booking.Court?.CourtType</td>

                        <td>
                            <!-- Om admin, visas användare-->
                        @if (Model.AdminCheck){
                        <span>@booking.User?.UserName</span> }
                        </td>
                        <td>
                            <!-- Om admin, Edit knapp-->
                        @if (Model.AdminCheck){
                                <span><a asp-controller="Booking" asp-action="Edit" asp-route-id="@booking.BookingId" class="btn btn-warning">Ändra</a></span>
                                }
                        </td>
                        <td>
                        <form method="post" asp-page-handler="Delete" asp-route-id="@booking.BookingId">
                            <button type="submit" class="btn btn-danger">Avboka</button>
                        </form>
                        </td>
                        
                    </tr>
                }
            </tbody>
        </table>
         </div>
    }
    else
    {
        <p>Inga bokningar tillgängliga.</p>
    }
</div>

