@page
@using PadelserviceApp.Models;
@model PadelApp.Areas.Identity.Pages.Account.Manage.IndexModel

@{
    Layout = "/Views/Shared/_ManageLayout.cshtml";
    ViewData["Title"] = "Bokade tider";
}

<h1>@ViewData["Title"]</h1>

<div class="container">

    @if (Model.Bookings != null && Model.Bookings.Any())
    {
        <table class="table">
            <thead>
                <tr>
                    <th>Datum och tid</th>
                    <th>Bana</th>
                    <th>Typ</th>
                    <th>@(Model.AdminCheck ? "Användare" : "")</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var booking in Model.Bookings){
                    <tr>
                        <td>@($"{booking.BookingTime:yyyy-MM-dd, HH:mm} - {booking.BookingTime.AddHours(1):HH:mm}")</td>
                        <td>@booking.Court?.CourtName</td> 
                        <td>@booking.Court?.CourtType</td>

                        <td>
                        @if (Model.AdminCheck){
                        <span>@booking.User?.UserName</span> }
                        
                        </td>
                        <td>
                        <form method="post" asp-page-handler="Delete" asp-route-id="@booking.BookingId">
                            <button type="submit" class="btn btn-danger">&#128465;</button>
                        </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>Inga bokningar tillgängliga.</p>
    }
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}