@model IEnumerable<PadelserviceApp.Models.PadelBooking>

@{
    ViewData["Title"] = "Profil"; //title
    var isAdmin = ViewBag.IsAdmin as bool? ?? false;
}

<h1>@ViewData["Title"]: @ViewBag.Username</h1>  <!-- Visar inloggad -->
<div class="table-responsive">
<table class="table" id="=tableProfil"> <!-- Visar alla bokade tider -->
    <thead>
        <tr>
            <th>
                Datum
            </th>
            <th>
                Bana
            </th>
            @if(isAdmin) {<!--om inloggad är admin -->
            <th>
                Användare
            </th>
            }
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td> <!--format dd/m hh:mm - hh:mm(+1) -->
                @($"{item.BookingTime.Day}/{item.BookingTime.Month} {item.BookingTime:HH:mm} - {item.BookingTime.AddHours(1):HH:mm}")
            </td>
            
            <td>
                @(item.Court != null ? $"{item.Court.CourtName}-{item.Court.CourtType}" : "Hittas ej")
            </td>
            @if(isAdmin) { <!--om inloggad är admin -->
            <td>
                @(item.User != null ? Html.DisplayFor(modelItem => item.User.UserName) : "Hittas ej")
            </td>
            }
            <td>
                @if (isAdmin) { <!--om inloggad är admin -->
                        <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.BookingId">Ändra</a>
                    } 
                <form class="d-inline" asp-action="Delete" asp-route-id="@item.BookingId" method="post"> <!--Radera-->
                    <button type="submit" class="btn btn-danger">Radera</button>
                </form>
            </td>
        </tr>
}
    </tbody>
</table>
</div>
